body {
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100%;
}
.container {
	background-color: white;
}
.image {
	width: 100%;
	height: 500px;
}
.foot {
	background-color: beige;
}